NEXT_PUBLIC_YANDEX_METRIKA_ID=109712823
LEADFIX_PAYMENT_LINK=https://t.me/delegin
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://leadfix.ru/checkout/success
LEADFIX_TELEGRAM_BOT_TOKEN=
LEADFIX_TELEGRAM_CHAT_ID=
LEADFIX_NOTIFICATION_EMAIL=viktor-82rus@ya.ru
LEADFIX_NOTIFICATION_FROM=
LEADFIX_SMTP_HOST=smtp.yandex.ru
LEADFIX_SMTP_PORT=465
LEADFIX_SMTP_USER=
LEADFIX_SMTP_PASSWORD=
