NEXT_PUBLIC_YANDEX_METRIKA_ID=
LEADFIX_PAYMENT_LINK=https://t.me/leadfix_support
LEADFIX_TELEGRAM_BOT_TOKEN=
LEADFIX_TELEGRAM_CHAT_ID=
LEADFIX_NOTIFICATION_EMAIL=viktor-82rus@ya.ru
LEADFIX_NOTIFICATION_FROM=
LEADFIX_SMTP_HOST=smtp.yandex.ru
LEADFIX_SMTP_PORT=465
LEADFIX_SMTP_USER=
LEADFIX_SMTP_PASSWORD=
